{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

    <div>
        <div>
            <h1>Hello {{ profile_user.user.username }}</h1>
            {% if profile_user.bio %}
                <p>{{ profile_user.bio }}</p>
            {% else %}
                <p>No bio available.</p>
            {% endif %}
        </div>

        {% if profile_user.is_student %}
            <div>
                <h3>My Learning Journey</h3>
                {% if profile_user.enrolled_courses.all %}
                    <ul>
                        {% for course in profile_user.enrolled_courses.all %}
                            <li>{{ course.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No saved courses.</p>
                {% endif %}
            </div>
        {% else %}
            <div>
                <h2>Published Courses</h2>
                {% if profile_user.published_courses.all %}
                    <ul>
                        {% for course in profile_user.published_courses.all %}
                            <li><h4>{{ course.title }}</h4>
                                <div class="video-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 10px; background: #000;">
                                    <iframe 
                                        src="{{ course.replace_youtube_link }}" 
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" 
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen>
                                    </iframe>
                                    <p>
                                        <a href="{{ course.video_url }}" target="_blank">
                                            Watch on YouTube
                                        </a>
                                    </p>
                                </div>
                                <p>{{ course.description }}</p>
                                <p><i>{{ course.created_at }}</i></p>
                            </li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No published courses.</p>
                {% endif %}
            </div>
            <button><a href="{% url 'users:upload_course' %}">upload course</a></button>
        {% endif %}
    </div>

    <div>
        <form method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>

{% endblock %}